/*All color variables*/
$ds_color: #F8F3F7;
$luigi_color: #1A940D;
$border_color: #005A19;
$background_color: #004E1A;
$text_color: #0065FF;
$button_color: #FAFAB2;
$button_selected_color: #827d4f;
$rounded_rectangle_color: #ADA872;

@mixin rounded_rectangle(){
    background-color: $rounded_rectangle_color;
    border-radius: 1em;
}

@mixin center_of_screen($xoffset, $yoffset){
    position: absolute;
    top: calc($yoffset);
    right: calc($xoffset);
    transform: translate(50%, 50%);
}

body{
    font-family: 'Fredoka One', sans-serif;
    min-width: 300px;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: $background_color;
}
header, footer{
    background-color: $border_color;
    color: $button_color;
}
section{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main{
    flex: 1;
    display: flex;
    flex-direction: column;
}

h1, h3{
    font-size: medium;
    text-align: center;
}
h4, h5{
    margin: 0.2em 0em;
}
button{
    padding: 0.1em 0.5em;
    border: solid 2px black;
    background-color: $button_color;
    color: $text_color;
    font-family: 'Fredoka One', sans-serif;
    border-radius: 1em;
}
button:hover{
    cursor: pointer;
}
button:active{
    background-color: $button_selected_color;
}

figure{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}
img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
aside{
    position: absolute;
    top: calc(15%);
    right: calc(50%);
    transform: translate(50%, 50%);
}

.user_score{
    display: flex;
    flex-direction: column;
    padding: 0.5em 1.5em;
    @include rounded_rectangle();
}

.dice_display{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.disabled_button{
    background-color: $button_selected_color;
}
.disabled_button:hover{
    cursor: default;
}

.player_wins{
    color: red;
}
.computer_wins{
    color: purple;
}

.score_text{
    text-align: center;
    color: $text_color;
}

#results_text{
    font-size: 2em;
    -webkit-text-stroke: 1px black;
}

#score_display{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
}

#tutorial_text{
    @include center_of_screen(50%, 0%);
    @include rounded_rectangle;
    background-color: $border_color;
    color: white;
    padding: 1em;

    ul{
        padding-left: 1em;
    }
}

#ui_buttons{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0.5em;
    @include rounded_rectangle();
}